ul>li{
    list-style: none;
}
textarea,
input:focus{
    outline: none;
}
ul{
    margin: 0;
    padding: 0;
}

.del_l .el-checkbox__input.is-checked+.el-checkbox__label{
    color: #d7d8da;
    text-decoration: line-through;
}

.el-tabs--card>.el-tabs__header{
    margin: 0;
}

.el-tabs__content{
    border-left: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    border-right: 1px solid #ddd;
}